#jstimer
{
  font-size: 0.5rem;
	margin:15px;
}

#clockdiv
{
  font-size: 0.8rem;
  display: inline-block;
  margin:auto;
  padding:0.4rem;
  padding-left:1rem;
  padding-right:1rem;
  color: white;
  position: relative;
  background:#556e3a;
}